 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
 @font-face {
	font-family: Hanson-Bold;
	src: url("../fonts/Hanson-Bold.otf") format("OpenType");
}
 body,
 html {
 	padding: 0;
 	margin: 0;
 	width: 100%;
 	background-image: url(../assets/img/carhome.png);

 }

 .banner {
 	margin: 0;
 	padding: 0;
	 background-color: #141414 !important;
 }

 .divform {
 	margin: 0;
 	padding: 0 !important;
 	background-color: #2b2b2b !important;
 	padding: 5px;
 }


 nav{
 	background-color: #141414 !important;
 }


 #btnNav {
 	height: 60px !important;
	 padding:0;
 }



 #title {
 	color: rgb(0, 0, 0);

 	margin-top: 30px;
 	text-align: center;
 	font-family: Hanson-Bold;
 	src: url("../fonts/Hanson-Bold.otf") format("OpenType");
 }

 .form {
 	overflow-y: hidden !important;
 	margin: 0 !important;
 	padding: 0 !important;
 	background-color: none !important;
 }

 .navbar-brand {
 	font-family: hanson;
 	font-size: 50px;
 	color: #fff !important;

 }

 li {
 	list-style: none;

 }


 *,
 :before,
 :after {
 	box-sizing: border-box;
 }


 a {
 	color: #fff;
 	text-decoration: none;
 }

 
 h1 {
 	text-align: center;
 }


 .group {
 	position: relative;
 	margin: 45px 0;
 }


 input {
 	background: none;
 	color: #ffffff;
 	font-size: 18px;
 	width: 100%;
 	display: block;
 	border: none;
 	border-radius: 0;
 	border-bottom: 1px solid #000000;
	 padding-left: 15px;
	 padding-right: 15px;
 }

 input:focus,
 textarea:focus {
 	outline: none;
 }

 input:focus~.bar:before,
 textarea:focus~.bar:before {
 	width: 320px;
 }

 .bar {
 	position: relative;
 	display: block;
 	width: 100%;

 }

 .bar:before {
 	content: "";
 	height: 2px;
 	width: 0;
 	bottom: 0px;
 	position: absolute;
 	background: rgb(2, 255, 221);
 	box-shadow: 0 0 20px rgb(0, 255, 242), inset 0 0 10px rgb(0, 255, 221), 0 2px 0 #181818;
 	transition: 300ms ease all;
 	left: 0%;
 	overflow-y: hidden !important;

 }

 .button {
 	border: none;
 	box-shadow: 0 5px 50px 0 #15f4ed inset, 0 5px 150px 0 #15f4ed,
 		0 5px 90px 0 #15f4ed inset, 0 5px 25px 0 #15f4ed;
 	border-radius: 10px;
 }


 .navbar-toggler {
 border: none;
 }

 .navbar-toggler:hover{
	border-color: #2b2b2b !important;

	}
   
	.input-group-addon{
		
		color:#ffffff!important;
	}
	#textabout{
		padding:none!important;
	}
 ul{
		padding:0!important;
		margin:0;
	}
.footer{
		background-color: #141414 !important;
	}
   .infos{
	   padding:0 !important;
	   margin:0 !important;
   }
   .text{
	   padding:15px !important;
	   text-align:center!important;
   }
   
 
:hover .button{
 	border: none;
 	box-shadow: 0 5px 50px 0 #15f4ed inset, 0 5px 150px 0 #15f4ed,
 		0 5px 90px 0 #15f4ed inset, 0 5px 25px 0 #15f4ed;
 	border-radius: 10px;
 }

a:hover {
	color: rgb(2, 255, 221) !important;
	box-shadow: 0 0 50px rgb(0, 255, 242),
}